# Data
data/BSData/data
data/BSData/label
data/Severstal/test/ann
data/Severstal/test/img
data/Severstal/train/ann
data/Severstal/train/img
data/test.py

# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
venv/
env/

# IDEs
.vscode/
.idea/

# Hydra
**/.hydra/

# Logs, checkpoints, outputs
runs/
checkpoints/
outputs/

# Archives
new/

# macOS
.DS_Store